# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
# name = Bobby Phan
# email = bwuphan@gmail.com
[user]
  name = bwuphan
  email = bwuphan@gmail.com
[alias]
  ci   = commit
  st   = status
  br   = branch
  co   = checkout
  coh  = checkout HEAD --
  gcob = git checkout -b
  po   = push origin
  poh  = push origin HEAD
  cim  = commit -m
  gfo  = git fetch origin
  prum = pull rebase upstream master
  rsh  = reset --hard
  a    = add
  pl   = pull
  m    = merge
  suir = submodule update --init --recursive

[credential]
  helper = osxkeychain
[core]
  excludesfile = /Users/bobbyphan/.gitignore_global
[merge]
  tool = kdiff3
[mergetool]
  keepBackup = false
[mergetool "kdiff3"]
  trustExitCode = false