# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
# name = Bobby Phan
# email = bwuphan@gmail.com
[user]
  name = bwuphan
  email = bwuphan@gmail.com
[alias]
  ci   = commit
  st   = status
  br   = branch
  co   = checkout
  coh  = checkout HEAD --
  gcob = git checkout -b
  po   = push origin
  poh  = push origin HEAD
  cim  = commit -m
  gfo  = git fetch origin
  prum = pull rebase upstream master
  rsh  = reset --hard
  a    = add
  pl   = pull
  m    = merge
  r    = reset
  suir = submodule update --init --recursive
  tls  = tag -l --sort=-version:refname
  fnc  = "!f() { \
            git fetch origin $1 && git checkout $1; \
          }; f"
  ls   = log --oneline
  tags = "!f() { \
            git tag -l | sort -V; \
          }; f"
  tagdo= "!f() { \
            git push --delete origin $1 \
          }; f"
[credential]
	helper = cache
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
